---
title : Helix UI Components
colors:
- ''
- accent
- success
- warn
- danger
- default
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="{{'/dist/helix.css' | url }}" rel="stylesheet" type="text/css" />
    <script src="{{'/dist/main.js'| url }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="header"> <span class="brand"><i class="fa fa-dna"></i> &nbsp; Helix Components</span> </header>
    <div style="display:flex;height: calc(100% - 40px);">
        <div class="sidebar collapsed">
            <div class="nav-list">
                {% for link in links %}
                <div class="nav-item {{ 'active' if link.href in page.url }}">
                    <a class="nav-link" href="{{link.href | url }}"> <i class="{{link.icon}} nav-icon"></i> <span class="nav-link-text"> {{link.name}} </span></a>
                    {% if (link.active) %}
                    <div class="ml-4 font-weight-normal sub-list">
                        <a>asdasd</a>
                    </div>
                
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="px-3 py-2 w-100">
            {{ content | safe }}
        </div>
    </div>
