---
title : Helix UI Components
colors:
- ''
- accent
- success
- warn
- danger
- default
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="{{'/dist/helix.css' | url }}" rel="stylesheet" type="text/css" />
    <script src="{{'/dist/main.js'| url }}"></script>
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🧬%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
</head>

<body>
    <h2 class="p-2"> 🧬 Helix Components</h2>
    <div class="px-4" style="display:grid;grid-template-columns: 200px auto;">
        <div>
            {% for link in links %}
            <div> <a class="btn link" href="{{link.href | url }}">{{link.name}}</a></div>
            {% endfor %}
        </div>
        <div>
            {{ content | safe }}
        </div>
    </div>
