
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helix UI Components</title>
    <link href="/helix/dist/helix.css" rel="stylesheet" type="text/css" />
    <script src="/helix/dist/main.js"></script>
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🧬%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
</head>

<body>
    <h2 class="p-2"> 🧬 Helix Components</h2>
    <div class="px-4" style="display:grid;grid-template-columns: 200px auto;">
        <div>
            
            <div> <a class="btn link" href="/helix/">Home</a></div>
            
            <div> <a class="btn link" href="/helix/components/alert">Alert</a></div>
            
            <div> <a class="btn link" href="/helix/components/buttons">Buttons</a></div>
            
            <div> <a class="btn link" href="/helix/components/forms">Forms</a></div>
            
            <div> <a class="btn link" href="/helix/components/table">Table</a></div>
            
        </div>
        <div>
            
<h3>Buttons</h3>
<div>
    
    <button class="">Button</button>
    
    <button class="accent">Button</button>
    
    <button class="success">Button</button>
    
    <button class="warn">Button</button>
    
    <button class="danger">Button</button>
    
    <button class="default">Button</button>
    
</div>

<div class="py-2">
    
    <button class="outline ">Button</button>
    
    <button class="outline accent">Button</button>
    
    <button class="outline success">Button</button>
    
    <button class="outline warn">Button</button>
    
    <button class="outline danger">Button</button>
    
    <button class="outline default">Button</button>
    
</div>
<div class="py-2">
    
    <button class="link ">Button</button>
    
    <button class="link accent">Button</button>
    
    <button class="link success">Button</button>
    
    <button class="link warn">Button</button>
    
    <button class="link danger">Button</button>
    
    <button class="link default">Button</button>
    
</div>

        </div>
    </div>
