
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helix UI Components</title>
    <link href="/helix/dist/helix.css" rel="stylesheet" type="text/css" />
    <script src="/helix/dist/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="header"> <span class="brand"><i class=" sidebar-toggle fa fa-dna"></i> &nbsp; Helix Components</span> </header>
    <div style="display:flex;height: calc(100% - 40px);">
        <div class="sidebar  ">
            <div class="nav-list">
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/"> <i class="fa fa-home nav-icon"></i> <span class="nav-link-text"> Home </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/alert"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Alert </span></a>
                    
                </div>
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/components/buttons"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Buttons </span></a>
                    
                    <div class="font-weight-normal sub-list">
                        <a class="nav-item" href="#">Content</a>
                        <a class="nav-item active" href="#">Components</a>
                    </div>
                
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/forms"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Forms </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/table"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Table </span></a>
                    
                </div>
                
            </div>
        </div>
        <div class="px-3 py-2 w-100">
            
<h3>Buttons</h3>
<div>
    
    <button class="btn ">Button</button>
    <a href="#" class="btn ">Button</a>
    
    <button class="btn accent">Button</button>
    <a href="#" class="btn accent">Button</a>
    
    <button class="btn success">Button</button>
    <a href="#" class="btn success">Button</a>
    
    <button class="btn warn">Button</button>
    <a href="#" class="btn warn">Button</a>
    
    <button class="btn danger">Button</button>
    <a href="#" class="btn danger">Button</a>
    
    <button class="btn default">Button</button>
    <a href="#" class="btn default">Button</a>
    
</div>

<div class="py-2">
    
    <button class="btn outline ">Button</button>
    <a href="#" class="btn outline ">Button</a>
    
    <button class="btn outline accent">Button</button>
    <a href="#" class="btn outline accent">Button</a>
    
    <button class="btn outline success">Button</button>
    <a href="#" class="btn outline success">Button</a>
    
    <button class="btn outline warn">Button</button>
    <a href="#" class="btn outline warn">Button</a>
    
    <button class="btn outline danger">Button</button>
    <a href="#" class="btn outline danger">Button</a>
    
    <button class="btn outline default">Button</button>
    <a href="#" class="btn outline default">Button</a>
    
</div>
<div class="py-2">
    
    <button class="btn link ">Button</button>
    <a href="#" class="btn link ">Button</a>
    
    <button class="btn link accent">Button</button>
    <a href="#" class="btn link accent">Button</a>
    
    <button class="btn link success">Button</button>
    <a href="#" class="btn link success">Button</a>
    
    <button class="btn link warn">Button</button>
    <a href="#" class="btn link warn">Button</a>
    
    <button class="btn link danger">Button</button>
    <a href="#" class="btn link danger">Button</a>
    
    <button class="btn link default">Button</button>
    <a href="#" class="btn link default">Button</a>
    
</div>

<div class="my-2">
    <hl-button loading>Dalana </hl-button>
</div>

        </div>
    </div>
