
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helix UI Components</title>
    <link href="/helix/dist/helix.css" rel="stylesheet" type="text/css" />
    <script src="/helix/dist/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="header"> <span class="brand"><i class="fa fa-dna"></i> &nbsp; Helix Components</span> </header>
    <div style="display:flex;height: calc(100% - 40px);">
        <div class="sidebar  ">
            <div class="nav-list">
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/"> <i class="fa fa-home nav-icon"></i> <span class="nav-link-text"> Home </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/alert"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Alert </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/buttons"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Buttons </span></a>
                    
                    <div class="font-weight-normal sub-list">
                        <a class="nav-item" href="#">Content</a>
                        <a class="nav-item active" href="#">Components</a>
                    </div>
                
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/forms"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Forms </span></a>
                    
                </div>
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/components/table"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Table </span></a>
                    
                </div>
                
            </div>
        </div>
        <div class="px-3 py-2 w-100">
            
<h3>Table</h3>
<table class="table-hover border">
    <thead>
        <tr>
            <th>Test asdas</th>
            <th>1231</th>
            <th>2233</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor</td> 
            <td>Lorem ipsum dolor</td>
            <td>Lorem ipsum dolor</td>
        </tr>
    </tbody>
</table>
<div class="dropdown">
    <button class="btn link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-user-circle align-self-center"></i> &nbsp;Dalana
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#"><i class="fa fa-user me-2"></i> Profile</a></li>
        <li><a class="dropdown-item" href="#"><i class="fa fa-question-circle me-2"></i> Help</a></li>
        <li><a class="dropdown-item" href="/auth/logout"><i class="fa fa-sign-out-alt me-2"></i> Logout</a></li>
    </ul>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
