@import "variables";

.btn {
	transition: opacity 0.1s ease-in;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-shadow: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 500;
	outline: none;
	overflow: hidden;
	text-decoration: none;
	white-space: nowrap;
	max-width: 100%;
	display: inline-flex;
	padding: 0 0.7em;
	min-height: 2em;
	color: var(--bg);
	background-color: var(--primary);
	border: 1px solid var(--primary);
	font-size: 1rem;
	border-radius: $br;
	text-decoration: none !important;

	&:focus {
		outline: var(--primary) solid 1px;
		outline-offset: 1px;
	}

	~ .btn {
		margin-left: 0.25em;
	}

	&.link {
		background-color: transparent;
		color: var(--primary);
		padding: 0 5px;
		border: none;
		min-height: auto;
	}

	&.outline {
		background-color: var(--bg);
		color: var(--primary) !important;
	}

	&:hover {
		opacity: 0.8;
		color: var(--bg);
	}

	&.link:hover {
		color: var(--primary);
	}

	&[shadow] {
		box-shadow: var(--shadow);
	}

	&:active {
		box-shadow: none;
		opacity: 1;
	}

	&.icon-btn {
		background: transparent;
		color: inherit;
		padding: 0 7.5px;
		border: none;
	}

	&:disabled,
	&.disabled,
	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.using-mouse {
	.btn {
		outline: none;
	}
}
