@import "variables";

form section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-column-gap: 0.5rem;
}

@media (min-width: 500px) {
	section.side-label {
		grid-template-columns: minmax(200px, min-content) auto;
		justify-items: flex-start;
		align-items: baseline;
		grid-gap: 5px;

		.field {
			display: contents;
		}
	}
}

.ctrl {
	padding: 0.4em 0.6em;
	line-height: 1;
	border-radius: $br;
	transition: box-shadow 0.1s ease-in-out;
	font-family: inherit;
	border: 1px solid var(--muted);
	background: transparent;
	color: var(--color);
	font-size: 1rem;
	width: 100%;
	
	&.sm {
		padding: 0.1rem;
	}
	
	&select {
		padding-bottom: calc(0.3rem - 1px);
	}

	&:disabled {
		background: var(--bg-hover);
		cursor: not-allowed;
	}

	&:focus,
	&:focus-within {
		--muted: var(--primary);
		box-shadow: 0 0 0 1px var(--muted);
	}

	&:focus:invalid.validate,
	&.invalid {
		--muted: var(--danger);
	}

	&:focus:valid.validate,.valid {
		--muted: var(--success);
	}

	&.group {
		overflow: hidden;
		display: flex;
		width: 100%;
		padding: 0;
		.static {
			white-space: nowrap;
			background: var(--bg-hover);
			padding: 0em 0.5em;
			font-weight: normal;
			display: flex;
			align-items: center;
		}

		.ctrl {
			border: none;
			box-shadow: none !important;
			flex: 1 1 auto;
			min-width: 0;
			border-radius: 0;
			width: 1%;
		}

		.ctrl + .ctrl {
			border-left: var(--border);
		}
	}
}

.field {
	padding-bottom: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: start;
	> label {
		display: block;
		margin-bottom: 0.3em;
		font-weight: 500;
		font-size: 0.9em;
	}
}

.field-msg {
	font-size: 0.7em;
	display: block;
}

// [type="radio"],
// [type="checkbox"] {
// 	position: absolute;
// 	left: -9999px;
// }

// [type="radio"]:checked + label,
// [type="checkbox"]:checked + label {
// 	opacity: 1;
// 	font-weight: 700;
// }

// [type="radio"]:not(:checked) + label,
// [type="checkbox"]:not(:checked) + label {
// 	color: var(--primary);
// 	background: transparent;
// 	border: var(--border);
// }

// [type="number"]:not(.text-left) {
// 	text-align: right;
// }

 