@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "variables";
@import "../../node_modules//bootstrap/scss//bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";

:root {
	--bg: #fff;
	--color: #05386b;

	--gray-1: #f5f5f5;
	--gray-2: #eeeeee;
	--gray-3: #dddddd;
	--gray-4: #cccccc;
	--gray-5: #888888;

	--muted: var(--gray-4);

	--neutral: #4677a8;
	--primary: #{$blue};
	--accent: #{$pink};
	--danger: #{$red};
	--info: #3884ec;
	--orange: #{$orange};
	--success: #{$green};

	--shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 5px 8px -4px;
	--shadow-light: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
	--shadow-heavy: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
	--font-family: "Roboto", sans-serif;
	--border: 1px solid var(--muted);
	--bg-hover: #eee;
	--bg-gradient: linear-gradient(90deg, $blue 0%, lighten($blue, 10%) 100%);
}

.dark-theme {
	--bg: rgb(15, 32, 45);
	--color: rgba(255, 255, 255, 0.74);

	--gray-1: #f5f5f51a;
	--gray-2: #eeeeee1a;
	--gray-3: #dddddd1a;
	--gray-4: #cccccc1a;
	--gray-5: #8888881a;

	--muted: #ffffff1a;
	--muted-bg: #dddddd10;
	--neutral: #767676;
	--shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 5px 8px -4px;
	--shadow-light: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
	--bg-hover: rgb(23, 43, 58);
	--bg-gradient: linear-gradient(90deg, #2363c4 0%, #03a4f9 100%);
	--border: 1px solid var(--muted);
}

body,
html {
	margin: 0;
	height: 100%;
	font-family: var(--font-family);
	color: var(--color);
	background-color: var(--bg);
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
th {
	font-weight: 500;
}

:focus {
	outline: none;
}

@import "forms";
@import "table";
@import "button";
@import "util";
@import "sidebar";
@import "legacy";

.card {
	box-shadow: var(--shadow-light);
	border: 1px solid var(--primary);
	border-radius: $br;
	display: block;
	background: var(--bg);
}

.info {
	--primary: var(--info);
}

.success {
	--primary: var(--success);
}

.default {
	--primary: var(--neutral);
}

.warn {
	--primary: var(--orange);
}

.pink,
.accent {
	--primary: var(--accent);
}

.danger {
	--primary: var(--danger);
}

.alert {
	border-radius: $br;
	margin-bottom: 0.5em;
	color: var(--primary);
	border: 1px solid var(--primary);
	padding: 0.5rem;
}

pre {
	white-space: pre-wrap;
	font-size: smaller;
}

.tag {
	box-sizing: border-box;
	font-weight: 500;
	letter-spacing: 0;
	display: inline;
	padding: 2px 5px;
	border-radius: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--bg);
	white-space: nowrap;
	background-color: var(--primary);
	vertical-align: middle;
	font-size: 0.8em;

	&.stale {
		color: var(--primary);
		background: transparent;
		border: var(--border);
		border-color: var(--primary);
	}
}

.tag ~ .tag {
	margin-left: 8px;
}

.warn {
	color: black;
}
