@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "../../node_modules//bootstrap/scss//bootstrap-reboot.scss";
$border-color: #ccc;
$black: #2e3a59 !default;

$blue: hsl(214, 90%, 52%) !default; 

$pink: #ff4081 !default;
$red: hsl(3, 100%, 61%) !default;
$orange: #ffa500 !default;
$green: hsl(145, 80%, 42%) !default;

@import "../../node_modules/bootstrap/scss/utilities";

@import "variables";

:root {
	--bg: #fff;
	--color: #05386b;

	--gray-1: #f5f5f5;
	--gray-2: #eeeeee;
	--gray-3: #dddddd;
	--gray-4: #cccccc;
	--gray-5: #888888;

	--muted: var(--gray-4);

	--neutral: #4677a8;
	--primary: hsl(214, 90%, 52%);
	--accent: #eb4d81;
	--danger: hsl(3, 100%, 61%);
	--info: #3884ec;
	--orange: #ffc13f;
	--success: hsl(145, 80%, 42%);

	--shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 5px 8px -4px;
	--shadow-light: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
	--shadow-heavy: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
	--font-family: "Roboto", sans-serif;
	--border: 1px solid var(--muted);
	--bg-hover: #eee;
	--bg-gradient: linear-gradient(90deg, #007bff 0%, #03a4f9 100%);
}

.dark-theme {
	--bg: rgb(15, 32, 45);
	--color: rgba(255, 255, 255, 0.74);

	--gray-1: #f5f5f51a;
	--gray-2: #eeeeee1a;
	--gray-3: #dddddd1a;
	--gray-4: #cccccc1a;
	--gray-5: #8888881a;

	--muted: #ffffff1a;
	--muted-bg: #dddddd10;
	--neutral: #767676;
	--shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 5px 8px -4px;
	--shadow-light: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 2px 4px -2px;
	--bg-hover: rgb(23, 43, 58);
	--bg-gradient: linear-gradient(90deg, #2363c4 0%, #03a4f9 100%);
	--border: 1px solid var(--muted);
}

body,
html {
	margin: 0;
	height: 100%;	
	font-family: var(--font-family);
	color: var(--color);
	background-color: var(--bg);
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
th {
	font-weight: 500;
}

a {
	color: var(--primary);
}

:focus {
	outline: none;
}

@import "forms";
@import "table";
@import "button";
@import "util";

.cdk-overlay-dark-backdrop {
	background: rgba(45, 61, 107, 0.5);
}

.title {
	margin: 0 !important;
	font-size: 20px;
	line-height: 1em;
}

.subtitle {
	margin: 0;
	color: var(--muted);
}

.surtitle {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: gray;
}

hr {
	height: 1px;
	background-color: var(--muted);
	border: none;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.cdk-overlay-pane.select-panel {
	overflow: hidden;
	background: var(--bg);
	border-radius: $br;
	overflow-y: auto;
	box-shadow: var(--shadow);
	line-height: 1.5em;
	border: 1px solid var(--primary);
	transition: all 0.2s ease-in-out;
	animation: slide-up 0.1s ease;
	margin-top: 5px;
}

* {
	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(102, 102, 102, 0.53);
	}
}

.cdk-overlay-pane.notification-panel {
	overflow: hidden;
	background: var(--bg);
	overflow-y: auto;
	box-shadow: var(--shadow-heavy);
	border-left: 1px solid var(--primary);
}

.cdk-overlay-pane {
	overflow: auto;
}

.cdk-overlay-container {
	transition: all 0.2s ease-in-out;
	opacity: 1;
}

[in-place] {
	border: 2px solid var(--bg);
	border-radius: $br;
	margin-left: -5px;
	margin-right: 5px;
	padding: 2px 3px;
	transition: all ease-in 200ms;
}

[in-place]:focus {
	border-color: var(--primary);
}

[in-place]:hover:not(:focus) {
	cursor: text;
	background: var(--bg-hover);
}

.tag {
	box-sizing: border-box;
	font-weight: 500;
	letter-spacing: 0;
	display: inline;
	padding: 0 5px;
	border-radius: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--bg);
	white-space: nowrap;
	background-color: var(--primary);
	vertical-align: middle;
	font-size: 0.75em;

	&.stale {
		color: var(--primary);
		background: transparent;
		border: var(--border);
		border-color: var(--primary);
	}
}

.tag ~ .tag {
	margin-left: 8px;
}

.avatar {
	height: 35px;
	width: 35px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: inline-block;
	background-repeat: no-repeat;
}

.alert {
	border-radius: $br;
	margin-bottom: 0.5em;
	color: var(--primary);
	border: 1px solid var(--primary);
	padding: 0.5rem;
}

pre {
	white-space: pre-wrap;
	font-size: smaller;
}

.attachments {
	display: grid;
	grid-template-columns: repeat(auto-fill, 50px);
	grid-gap: 5px;
}

.attachment {
	height: 60px;
	border: var(--border);
	border-radius: $br;
	background: var(--bg-hover) no-repeat center;
	background-size: contain;
	display: grid;
	position: relative;

	button {
		opacity: 0;
		padding: 0;
		min-height: 0;
		margin: 0;
	}
}

.attachment:hover {
	cursor: pointer;

	button {
		opacity: 1;
	}
}

.lightbox-content {
	.mat-dialog-container {
		padding: 0 !important;
	}
}

.card {
	box-shadow: var(--shadow-light);
	border: 1px solid var(--primary);
	border-radius: $br;
	display: block;
	background: var(--bg);
}

.info {
	--primary: var(--info);
}

.success {
	--primary: var(--success);
}

.default {
	--primary: var(--neutral);
}

.warn {
	--primary: var(--orange);
}

.pink,
.accent {
	--primary: var(--accent);
}

.danger {
	--primary: var(--danger);
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid var(--primary);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

helix-erp-help-container .card-center {
	max-width: 500px;
	margin: 0 auto;
	display: block;
}

@media (max-width: 550px) {
	helix-erp-help-container .card-center {
		box-shadow: none;
		margin: 0;
		border: none;
	}
}
