.sidebar {
	background-color: var(--gray-1);
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	width: 100%;
	max-width: 200px;
}
.sidebar .nav-list {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	-webkit-box-pack: start;
	justify-content: flex-start;
	padding: 0 1em;
	overflow-y: auto;
	transition: padding 0.1s cubic-bezier(0.34, 0.64, 0.52, 0.99);
}

.sidebar .nav-item {
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color 220ms ease-in 0s;
	text-decoration: none;
	width: auto;
	font-weight: 500;
}
.nav-item.active {
	background: var(--bg);
	color: var(--primary);
}
.sidebar .nav-item:not(.active):hover {
	background-color: var(--bg-hover);
	text-decoration: none;
}

.nav-icon {
	margin-right: 1em;
}

.nav-link {
	color: inherit !important;
	text-decoration: none !important;
	display: block;
	padding: 0.5em 0.75em;
	white-space: nowrap;
}

.header {
	padding: 0.5em 1em;
	background: var(--primary);
	color: var(--bg);
	height: 40px;
	display: flex;
}

.header .brand {
	font-weight: 500;
}

.sidebar.collapsed {
	width: 50px;

	.nav-list {
		padding: 0 0.25em;
	}
	.nav-icon {
		margin-right: 0;
	}
	.nav-link {
		padding: .25em 0.5em;
		text-align: center;
        margin: .25em 0;text-align: left;
	}
	.nav-link-text,
	.sub-list {
		display: none;
	}
}

.sub-list {
	margin-left: 2em;
	margin-bottom: 0.5em;
}

.sub-list .nav-item {
	display: block;
	border-left: 0.2em solid transparent;
	font-weight: 500;
	border-radius: 0;
	padding: 0.1em 0.4em;
	font-weight: 400;
	color: var(--color);
	transition: background-color 220ms ease-in, border 220ms ease-in;
}

.sub-list .nav-item:hover {
	border-color: var(--color);
}
.sub-list .nav-item.active {
	border-color: var(--success);
	font-weight: 500;
	animation-duration: 0.5s;
}
 
.sidebar > .nav-list > .nav-item {
	margin-bottom: 0.5em;
}
 