table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 0.5rem 0.75rem;
	border-top: var(--border);
}

tbody {
	tr {
		transition: all 0.1s ease-in;
		&.active {
			border-top: 2px solid var(--primary);
			border-bottom: 2px solid var(--primary);
			td {
				font-weight: 500;
				border-top: none;
				border-radius: 4px;
			}
		}
	}
}

th {
	font-weight: 500;
	text-align: left;
	letter-spacing: 0.5px;
	white-space: nowrap;
	padding: 0.5rem 0.75rem;
	text-transform: uppercase !important;
	font-size: 0.8em;

	* {
		text-transform: uppercase !important;
	}
}

.sticky-header {
	th {
		position: sticky;
		top: -1px;
		background: white;
	}
}

.table-hover {
	tbody tr:hover:not(.active) {
		background: var(--bg-hover);
		cursor: pointer;
	}
}

table.compact {
	th,
	td {
		padding: 5px;
	}
}

table.stickey-header {
	th {
		position: sticky;
		top: 0;
		background: var(--bg-color);
	}
}

.paded {
	td,
	th {
		&:first-child {
			padding-left: 1.25rem;
		}

		&:last-child {
			padding-right: 1rem;
		}
	}
}
