.hover:hover {
	background: var(--bg-hover);
	cursor: pointer;
}

.transparent {
	background: transparent;
	opacity: 0;
}

@media screen {
	.print-only {
		display: none;
	}
}

@media print {
	.screen {
		display: none !important;
	}

	.print-only {
		color: black;
		--muted: black;
		--border: 1pt solid #aaaaaa;
	}

	body,
	html {
		font-size: 13px !important;
		height: unset;
	}
}

.shine {
	background: #f6f7f8;
	background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, var(--gray-2) 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	display: inline-block;
	position: relative;

	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	&.box {
		height: 100px;
		width: 100px;
	}

	&.lines {
		height: 10px;
		width: 200px;
	}
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}
