
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helix UI Components</title>
    <link href="/helix/dist/helix.css" rel="stylesheet" type="text/css" />
    <script src="/helix/dist/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="header"> <span class="brand"><i class="fa fa-dna"></i> &nbsp; Helix Components</span> </header>
    <div style="display:flex;height: calc(100% - 40px);">
        <div class="sidebar collapsed">
            <div class="nav-list">
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/"> <i class="fa fa-home nav-icon"></i> <span class="nav-link-text"> Home </span></a>
                    
                </div>
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/components/alert"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Alert </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/buttons"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Buttons </span></a>
                    
                    <div class="ml-4 font-weight-normal sub-list">
                        <a>asdasd</a>
                    </div>
                
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/forms"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Forms </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/table"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Table </span></a>
                    
                </div>
                
            </div>
        </div>
        <div class="px-3 py-2 w-100">
            
<h3>Alert</h3>
<div class="alert">
    AADS
</div>
https://coolors.co/05386b-410dff-007bff-01c588-ee6352

        </div>
    </div>
