
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UT8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helix UI Components</title>
    <link href="/helix/dist/helix.css" rel="stylesheet" type="text/css" />
    <script src="/helix/dist/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header class="header"> <span class="brand"><i class=" sidebar-toggle fa fa-dna"></i> &nbsp; Helix Components</span> </header>
    <div style="display:flex;height: calc(100% - 40px);">
        <div class="sidebar  ">
            <div class="nav-list">
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/"> <i class="fa fa-home nav-icon"></i> <span class="nav-link-text"> Home </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/alert"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Alert </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/buttons"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Buttons </span></a>
                    
                    <div class="font-weight-normal sub-list">
                        <a class="nav-item" href="#">Content</a>
                        <a class="nav-item active" href="#">Components</a>
                    </div>
                
                    
                </div>
                
                <div class="nav-item active">
                    <a class="nav-link" href="/helix/components/forms"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Forms </span></a>
                    
                </div>
                
                <div class="nav-item ">
                    <a class="nav-link" href="/helix/components/table"> <i class="fa fa-sitemap nav-icon"></i> <span class="nav-link-text"> Table </span></a>
                    
                </div>
                
            </div>
        </div>
        <div class="px-3 py-2 w-100">
            

<h3>Forms</h3>
<form>

    <section>
        <div class="field">
            <label>Label</label>
            <input class="ctrl" />
        </div>
        <div class="field">
            <label>Label</label>
            <div class="ctrl group">
                <span class="static">RS</span>
                <input class="ctrl" />
                <select class="ctrl">
                    <option>TEst</option>
                    <option>TEst</option>
                    <option>TEst</option>
                    <option>TEst</option>
                    <option>TEst</option>
                </select> <span class="static">RS</span>
            </div>
            <span class="field-msg">Hint or field-msg</span>
        </div>
        <div class="field">
            <label>Label</label>

            <select class="ctrl">
                <option>TEst</option>
                <option>TEst</option>
                <option>TEst</option>
                <option>TEst</option>
                <option>TEst</option>
            </select>
            <span class="field-msg">Hint or field-msg</span>
        </div>
        <div class="field">
            <label>Label</label>
            <input class="danger ctrl" />
            <span class="field-msg">Hint or field-msg</span>
        </div>
        <div class="field">
            <label>Label</label>
            <input class="ctrl" type="date" />
        </div>
        <div class="field">
            <label>Button</label>
            <div class="ctrl group">
                <input class="ctrl" type="date" />
                <button type="button">Test</button>
            </div>
        </div>
        <div class="field">
            <label>Select</label>
            <helix-select></helix-select>
        </div>
        <div class="field">
            <label>Select</label>
            <helix-toggle name="test" value="1"></helix-toggle>
        </div>
    </section>
    <div>
        <helix-dropdown>
            <button class="outline" slot="trigger" type="button"> Open </button>
            <template>
                <div slot="content"> asdas </div>
            </template>
        </helix-dropdown>
    </div>
    <br>
    <div>
        <hl-button>Submit</hl-button>
        <button>Submit</button>
    </div>
</form>

        </div>
    </div>
